
/* -- Global -- */

body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #333;
    position: relative;
    font-family: -apple-system, 'Helvetica';
    font-weight: 500;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    background-color: #c1cae1;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* -- Header -- */

header {
    background-color: #394d82;
    color: #fff;
}

header .title {
    padding: 0.8em 1.5em 1em 1em;
    margin: 0;
}

header .title a {
    color: #fff;
}


/* -- Main -- */

.content {
    display: flex;
    flex-direction: column;
}

.content main a {
    text-decoration: underline;
}

.content > nav {
    margin: 0;
    padding: 0 1em;
    flex: 0 0 10em;
}

.content > nav > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.content > nav > ul > li {
    padding-bottom: 0.5em;
}


.content > main {
    padding: 0 1em;
    flex: 1;
}

.content > main .title {
    margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
    .content {
        flex: 1;
        flex-direction: row;
    }

    .content > main .title {
        margin-top: 0.83em;
    }
}


/* -- Orders -- */

section.order {
    display: flex;
    flex-direction: column;
}

.order-legend, .transaction-summary {
    order: -1;
}

@media screen and (min-width: 768px) {
    section.order {
        display: flex;
        flex-direction: row;
    }

    section.order > *:not(:last-child) {
        margin-right: 3em;
    }

    .order-legend {
        order: 1;
    }

    .transaction-summary {
        order: 1;
    }

}

.order-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
    .order-list {
        width: 35em;
    }
}

.order-item {
    display: flex;
    margin: 0.3em 0;
}

.order-item .status {
    width: 2em;
}

.order-item .quantity {
    width: 1.7em;
    margin-left: 0.2em;
    flex-shrink: 0
}

.order-item .description {
    flex: 1;
}

.order-item .description .product-name {

}
.order-item .description .product-price {
    color: #86939E;
}

.order-item .total {
    width: 10em;
    text-align: right;
}


/* -- Payment -- */

.payment-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
    .payment-list {
        width: 35em;
    }
}

.payment-item {
    display: flex;
    margin: 0.3em 0;
}

.payment-item .date {
    flex: 1;
}

.payment-item .date .calculation {
    color: #86939E;
}

.payment-item .deposit {
    width: 10em;
    text-align: right;
}

.payment-item:last-child .deposit {
    align-self: flex-end;
}



/* -- Footer -- */

footer {
    color: #fff;
    background-color: #394d82;
}

footer p.copyright {
    padding: 1.5em;
    margin: 0;
}

footer a {
    color: #fff;
}
